{{ define "card" }}
<div class="employee-card">
  <div class="card-header">
    <img src="{{ .Employee.ImageName }}" alt="Employee Photo" class="employee-photo" />
    <h2 class="employee-name">{{ .Employee.Name }}</h2>
    <p class="employee-position">{{ .Employee.Position }}</p>
  </div>
  <div class="card-bio">
    <div class="bio-text px-2 pt-2">
      {{ if .Employee.Bio }}
      <p>{{ .Employee.Bio }}</p>
      {{ else }}
      <p class="text-muted">No bio available.</p>
      {{ end }}
    </div>
  </div>
  <div class="card-stats">

    <table class="table table-striped">
      <tbody>
        {{ range $score := .Employee.Reflections }}
        <tr>
          <td>{{ $score.Key }}</td>
          <td>{{ $score.Value }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>

  </div>
</div>
{{end}}