{{ define "knowyou" }}

<div class="container mt-5 knowyou">

  <h2 class="mb-4">The Team Wants To Know You</h2>
  <div class="row mb-2">
    <div class="col">
      <label class="form-label text-start w-100">Tell Us A Little About Yourself</label>
    </div>
  </div>

  <div class="row mb-2 position">
    {{ template "position" . }}
  </div>

  <div class="row mb-2 bio">
    {{ template "bio" . }}
  </div>

  <div class="row mb-2 preferences">
    {{ template "preferences" . }}
  </div>

  <div class="row mb-2 additional-reflections">
    {{ template "reflections" . }}
  </div>

</div>
{{ end }}
