{{ define "main" }}

{{ if .IsAuthenticated }}

<div class="container" id="home" style="width: 75%;">
    <div class="d-flex justify-content-center align-items-center">
        <table class="table table-striped table-bordered ">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Employees }}
                <tr>
                    <td><a class="app-link" hx-push-url="true" hx-target="#main" hx-get="/employee/{{ .Email }}"> {{ .Name }}</a></td>
                </tr>
                {{ end }}
            </tbody>
    </div>
</div>
{{ end }}

{{ end }}
