{{ define "preferences" }}
<div class="col">

  <div class="row mb-1">
    <div class="col text-start">
      <label class="h5">Some Of Your Preferences</label>
    </div>
  </div>

  <div class="row mb-4 preference">
    <label class="h6">Speaking With Clients</label>
    <div class="d-flex align-items-center">
      <span class="me-2 h6" style="width: 100px;">Not So Much</span>
      <input type="range" class="form-range flex-grow-1 mx-2" min="1" max="5" step="1" name="q1">
      <span class="ms-2" style="width: 100px;">Absolutely!</span>
    </div>
  </div>

  <div class="row mb-4 preference">
    <label class="h6">Problem Solving</label>
    <div class="d-flex align-items-center">
      <span class="me-2" style="width: 100px;">Problem Solving</span>
      <input type="range" class="form-range flex-grow-1 mx-2" min="1" max="5" step="1" name="q2">
      <span class="ms-2" style="width: 100px;">Absolutely!</span>
    </div>
  </div>

  <div class="row mb-4 preference">
    <label class="h6">Being Outgoing</label>
    <div class="d-flex align-items-center">
      <span class="me-2" style="width: 100px;">Not So Much</span>
      <input type="range" class="form-range flex-grow-1 mx-2" min="1" max="5" step="1" name="q3">
      <span class="ms-2" style="width: 100px;">Absolutely!</span>
    </div>
  </div>

  <div class="row">
    <div class="col-auto">
      <button type="button" class="btn btn-primary" id="submit-preferences" hx-post="/preferences" hx-include="#preferences"
        hx-target="#preferences" hx-swap="outerHTML">
        Save These Preferences
      </button>
    </div>
  </div>
</div>

<script>
  document.getElementById('submit-preferences').addEventListener('click', function (e) {
    e.preventDefault();
    alert('Not Yet Implemented - Thank You For Looking!');
  });
</script>

{{ end }}