{{ define "reflections" }}

<h4>Additional Reflections Of You</h4>
<div id="reflections-list" class="col">
  <div class="row">
    {{ range .Employee.Reflections }}
    <div class="row align-items-center mb-2" id="reflection-{{ .ID }}">
      <div class="col">
        <input type="text" class="form-control" value="{{ .Key }}" readonly>
      </div>
      <div class="col">
        <input type="text" class="form-control" value="{{ .Value }}" readonly>
      </div>
      <div class="col-auto">
        <button class="btn btn-danger btn-sm" hx-delete="/reflection/{{ .ID }}" hx-target="#person" hx-swap="outerHTML"
          aria-label="Delete Reflection" title="Delete Reflection">&#10005;</button>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="row align-items-center mb-2" name="reflectionForm">
    <div class="col">
      <div class="row">
        <input type="text" class="form-control" id="new-reflection-name" name="new-reflection-name"
          placeholder="Reflection Name (ex. Favorite Color)">
      </div>
      <div class="row">
        <input type="text" class="form-control mb-2" id="new-reflection-value" name="new-reflection-value"
          placeholder="Reflection Value (ex. Blue)">
      </div>
      <div class="row">
        <div class="col text-start">
          <button class="btn btn-primary" hx-post="/reflection" hx-include="[name='reflectionForm']" hx-target="#person"
            hx-swap="outerHTML" aria-label="Add New Reflection" title="Add New Reflection">Add New Reflection</button>
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
